<ul class="pagination" style="justify-content:center">

    {% if orderby_records.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page={{ orderby_records.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
    </li>
    {% endif %}

    {% for num in orderby_records.paginator.page_range %}
        {% if orderby_records.number == num %}
        <li class="page-item active">
            <span class="page-link">{{ num }}</span>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
        </li>
        {% endif %}
    {% endfor %}

    {% if orderby_records.has_next %}
    <li class="page-item">
        <a class="page-link" href="?page={{ orderby_records.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
    {% endif %}

</ul>